<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.usr.mymoney">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <service android:name=".VibrateService"/>
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.IncomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.StatisticActivity"
            android:label="@string/title_activity_statistic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SpendingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.PlaningActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.EditingIncomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.EditingSpendingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.EditingFinanceObjActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.EditingOneObjActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.InfoActivity"
            android:label="@string/title_activity_info"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>